<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>cityItem</key>
        <array>
            <string>Busan</string>
            <string>Chungcheongbuk-do</string>
            <string>Chungcheongnam-do</string>
            <string>Daegu</string>
            <string>Daejeon</string>
            <string>Gangwon-do</string>
            <string>Gwangju</string>
            <string>Gyeonggi-do</string>
            <string>Gyeongsangbuk-do</string>
            <string>Gyeongsangnam-do</string>
            <string>Incheon</string>
            <string>Jeju-do</string>
            <string>Jeollabuk-do</string>
            <string>Jeollanam-do</string>
            <string>Seoul</string>
            <string>Ulsan</string>
        </array>
        <key>countryItems</key>
        <array>
            <array>
                <string>Dong-gu</string>
                <string>Dongnae-gu</string>
                <string>Geumjeong-gu</string>
                <string>Gijang-gun</string>
                <string>Haeundae-gu</string>
                <string>Jung-gu</string>
                <string>Nam-gu</string>
                <string>Saha-gu</string>
                <string>Seo-gu</string>
                <string>Suyeong-gu</string>
                <string>Yeongdo-gu</string>
            </array>
            <array>
                <string>Boeun-gun</string>
                <string>Cheongju-si</string>
                <string>Chungju-si</string>
                <string>Danyang-gun</string>
                <string>Eumseong-gun</string>
                <string>Goesan-gun</string>
                <string>Jecheon-si</string>
                <string>Jeungpyeong-gun</string>
                <string>Jincheon-gun</string>
                <string>Okcheon-gun</string>
                <string>Yeongdong-gun</string>
            </array>
            <array>
                <string>Buyeo-gun</string>
                <string>Cheonan-si</string>
                <string>Dangjin-si</string>
                <string>Gongju-si</string>
                <string>Seocheon-gun</string>
                <string>Seosan-si</string>
                <string>Yesan-gun</string>
            </array>
            <array>
                <string>Buk-gu</string>
                <string>Jung-gu</string>
            </array>
            <array>
            </array>
            <array>
                <string>Donghae-si</string>
                <string>Gangneung-si</string>
                <string>Jeongseon-gun</string>
                <string>Pyeongchang-gun</string>
                <string>Sokcho-si</string>
                <string>Wonju-si</string>
                <string>Yangyang-gun</string>
                <string>Yeongwol-gun</string>
            </array>
            <array>
                <string>Gwangsan-gu</string>
            </array>
            <array>
                <string>Goyang-si</string>
                <string>Guri-si</string>
                <string>Gwangmyeong-si</string>
                <string>Hwaseong-si</string>
                <string>Namyangju-si</string>
                <string>Paju-si</string>
                <string>Suwon-si</string>
                <string>Yeoju-si</string>
            </array>
            <array>
                <string>Andong-si</string>
                <string>Goryeong-gun</string>
                <string>Gumi-si</string>
                <string>Gyeongju-si</string>
                <string>Pohang-si</string>
                <string>Yeongju-si</string>
            </array>
            <array>
                <string>Gimhae-si</string>
                <string>Hapcheon-gun</string>
                <string>Sancheong-gun</string>
                <string>Tongyeong-si</string>
                <string>Yangsan-si</string>
            </array>
            <array>
                <string>Bupyeong-gu</string>
                <string>Ganghwa-gun</string>
                <string>Jung-gu</string>
                <string>Namdong-gu</string>
                <string>Yeonsu-gu</string>
            </array>
            <array>
                <string>Jeju-si</string>
                <string>Seogwipo-si</string>
            </array>
            <array>
                <string>Buan-gun</string>
                <string>Gimje-si</string>
                <string>Gochang-gun</string>
                <string>Gunsan-si</string>
                <string>Iksan-si</string>
                <string>Imsil-gun</string>
                <string>Jangsu-gun</string>
                <string>Jeongeup-si</string>
                <string>Jeonju-si</string>
                <string>Jinan-gun</string>
                <string>Muju-gun</string>
                <string>Namwon-si</string>
                <string>Sunchang-gun</string>
                <string>Wanju-gun</string>
            </array>
            <array>
                <string>Boseong-gun</string>
                <string>Damyang-gun</string>
                <string>Gokseong-gun</string>
                <string>Gurye-gun</string>
                <string>Gwangyang-si</string>
                <string>Haenam-gun</string>
                <string>Hwasun-gun</string>
                <string>Jangheung-gun</string>
                <string>Mokpo-si</string>
                <string>Muan-gun</string>
                <string>Naju-si</string>
                <string>Suncheon-si</string>
                <string>Yeonggwang-gun</string>
                <string>Yeosu-si</string>
            </array>
            <array>
                <string>Dongdaemun-gu</string>
                <string>Dongjak-gu</string>
                <string>Gangbuk-gu</string>
                <string>Gangdong-gu</string>
                <string>Gangnam-gu</string>
                <string>Jongno-gu</string>
                <string>Jung-gu</string>
                <string>Mapo-gu</string>
                <string>Seocho-gu</string>
                <string>Seodaemun-gu</string>
                <string>Seongdong-gu</string>
                <string>Songpa-gu</string>
                <string>Yeongdeungpo-gu</string>
                <string>Yongsan-gu</string>
            </array>
            <array>
                <string>Buk-gu</string>
                <string>Dong-gu</string>
                <string>Jung-gu</string>
                <string>Nam-gu</string>
                <string>Ulju-gun</string>
            </array>
        </array>
    </dict>
    
</plist>
