<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>cityItem</key>
        <array>
            <string>ソウル特別市</string>
            <string>京畿道</string>
            <string>仁川広域市</string>
            <string>光州広域市</string>
            <string>全羅北道</string>
            <string>全羅南道</string>
            <string>大田広域市</string>
            <string>大邱広域市</string>
            <string>忠清北道</string>
            <string>忠清南道</string>
            <string>慶尚北道</string>
            <string>慶尚南道</string>
            <string>江原道</string>
            <string>済州道</string>
            <string>蔚山広域市</string>
            <string>釜山広域市</string>
        </array>
        <key>countryItems</key>
        <array>
            <array>
                <string>中区</string>
                <string>城東区</string>
                <string>東大門区</string>
                <string>松坡区</string>
                <string>永登浦区</string>
                <string>江北区</string>
                <string>江南区</string>
                <string>西大門区</string>
                <string>銅雀区</string>
                <string>鍾路区</string>
                <string>麻浦区</string>
                <string>龍山区</string>
            </array>
            <array>
                <string>九里市</string>
                <string>光明市</string>
                <string>南楊州市</string>
                <string>水原市</string>
                <string>華城市</string>
                <string>驪州市</string>
            </array>
            <array>
                <string>中区</string>
                <string>南洞区</string>
                <string>富平区</string>
                <string>延寿区</string>
                <string>江華郡</string>
            </array>
            <array>
                <string>光山区</string>
            </array>
            <array>
                <string>全州市</string>
                <string>扶安郡</string>
                <string>益山市</string>
                <string>金堤市</string>
                <string>高敞郡</string>
            </array>
            <array>
                <string>光陽市</string>
                <string>務安郡</string>
                <string>和順郡</string>
                <string>宝城郡</string>
                <string>木浦市</string>
                <string>求礼郡</string>
                <string>海南郡</string>
                <string>潭陽郡</string>
                <string>羅州市</string>
                <string>谷城郡</string>
                <string>長興郡</string>
                <string>霊光郡</string>
                <string>順天市</string>
                <string>麗水市</string>
            </array>
            <array>
            </array>
            <array>
                <string>中区</string>
                <string>北区</string>
            </array>
            <array>
                <string>丹陽郡</string>
                <string>報恩郡</string>
                <string>忠州市</string>
                <string>提川市</string>
                <string>曾坪郡</string>
                <string>槐山郡</string>
                <string>永同郡</string>
                <string>沃川郡</string>
                <string>清州市</string>
                <string>鎮川郡</string>
                <string>陰城郡</string>
            </array>
            <array>
                <string>公州市</string>
                <string>天安市</string>
                <string>扶余郡</string>
                <string>瑞山市</string>
                <string>礼山郡</string>
                <string>舒川郡</string>
            </array>
            <array>
                <string>亀尾市</string>
                <string>安東市</string>
                <string>慶州市</string>
                <string>栄州市</string>
                <string>浦項市</string>
                
            </array>
            <array>
                <string>山清郡</string>
                <string>梁山市</string>
                <string>統営市</string>
                <string>陜川郡</string>
            </array>
            <array>
                <string>原州市</string>
                <string>寧越郡</string>
                <string>平昌郡</string>
                <string>旌善郡</string>
                <string>春川市</string>
                <string>束草市</string>
                <string>東海市</string>
                <string>江陵市</string>
                <string>襄陽郡</string>
            </array>
            <array>
                <string>済州市</string>
                <string>西帰浦市</string>
            </array>
            <array>
                <string>中区</string>
                <string>北区</string>
                <string>南区</string>
                <string>東区</string>
                <string>蔚州郡</string>
            </array>
            <array>
                <string>中区</string>
                <string>南区</string>
                <string>影島区</string>
                <string>東区</string>
                <string>東莱区</string>
                <string>機張郡</string>
                <string>水営区</string>
                <string>沙下区</string>
                <string>海雲台区</string>
                <string>西区</string>
                <string>金井区</string>
            </array>
        </array>
    </dict>
    
</plist>
